<template>
  <div class="customs-list">
    <b-list-group v-if="customsList">
      <b-list-group-item v-for="customs in customsList" :key="customs.id" class="d-flex justify-content-between align-items-center">
        {{ customs.name }}
        <div class="buttons">
          <b-button @click="editItem(customs.id)">
            <font-awesome-icon icon="pencil-alt" />
          </b-button>
          <b-button variant="danger" @click="showModal(customs.id)">
            <font-awesome-icon icon="trash" />
          </b-button>
        </div>
      </b-list-group-item>
    </b-list-group>
    <div v-else>Загрузка...</div>

    <v-dialog />
  </div>
</template>

<script>
import customsService from "@/services/customsService";
import bListGroup from "bootstrap-vue/es/components/list-group/list-group";
import bListGroupItem from "bootstrap-vue/es/components/list-group/list-group-item";
import bButton from "bootstrap-vue/es/components/button/button";

export default {
  name: "CustomsList",
  components: {
    "b-list-group": bListGroup,
    "b-list-group-item": bListGroupItem,
    "b-button": bButton
  },
  mounted() {
    customsService.getCustoms().then(res => (this.customsList = res.data));
  },
  data() {
    return {
      customsList: null
    };
  },
  methods: {
    deleteItem(id) {
      customsService.deleteCustoms(id).then(() => {
        // const el = this.customsList.findIndex(value => (value.id = id));
        this.$delete(this.customsList, id);
      });
    },
    editItem(id) {
      this.$router.push({ path: "/customs/edit", query: { id } });
    },
    showModal(id) {
      this.$modal.show("dialog", {
        title: "Внимание",
        text: `Вы точно хотите удалить таможенный пункт с ID ${id}?`,
        buttons: [
          {
            title: "Да",
            handler: () => {
              this.deleteItem(id);
              this.$modal.hide("dialog");
            }
          },
          { title: "Нет" }
        ]
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
