<template>
  <b-form class="col-6 offset-3" @submit="onSubmit">
    <h3>{{ id ? "Изменить" : "Добавить" }} таможенный пункт</h3>
    <b-form-group
      label="Название:"
      label-for="name">
      <b-form-input
        id="name"
        type="text"
        v-model="form.name"
        required
        placeholder="Введите название таможенного пункта" />
    </b-form-group>
    <b-form-group
      label="Страна 1:"
      label-for="country1" >
      <b-form-input
        id="country1"
        type="text"
        v-model="form.country1"
        required
        placeholder="Введите название страны 1" />
    </b-form-group>
    <b-form-group
      label="Страна 2:"
      label-for="country2">
      <b-form-input
        id="country2"
        type="text"
        v-model="form.country2"
        required
        placeholder="Введите название страны 2" />
    </b-form-group>
    <b-form-group>
      <b-form-checkbox
        v-model="form.active" >
        Доступен
      </b-form-checkbox>
    </b-form-group>
    <div class="row justify-content-center">
      <b-button type="submit" variant="primary">
        {{ id ? "Изменить" : "Добавить" }}
      </b-button>
    </div>
    <div v-if="status" class="row justify-content-center">
      <span v-bind:class="status.type === 'OK' ? 'ok' : 'error'">{{ status.message }}</span>
    </div>
  </b-form>
    
</template>
<script>
import customsService from "@/services/customsService";

export default {
  name: "EditCustoms",
  data() {
    return {
      form: {
        name: "",
        country1: "",
        country2: "",
        active: false
      },
      id: null,
      status: null
    };
  },
  mounted() {
    this.id = this.$route.query.id || null;

    if (this.id) {
      customsService
        .getCustomsById(this.id)
        .then(res => (this.form = res.data));
    }
  },
  beforeRouteUpdate(to) {
    this.id = to.params.id || null;
  },
  methods: {
    onSubmit(event) {
      event.preventDefault();
      customsService
        .addCustoms(this.form)
        .then(() => {
          this.resetForm();
          this.status = {
            type: "OK",
            message: "Таможенный пункт успешно добавлен."
          };
        })
        .catch(() => {
          this.status = {
            type: "Error",
            message: "Ошибка добвления таможенного пункта."
          };
        });
    },
    resetForm() {
      this.form = {
        name: "",
        country1: "",
        country2: "",
        active: false
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.ok {
  color: green;
}

.error {
  color: red;
}
</style>
