<template>
  <div>
    <b-navbar type="light" fixed="true" toggleable>
      <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_dropdown_collapse">
        <b-navbar-nav>
          <b-nav-item href="#">
            <router-link to="/">Домой</router-link>
          </b-nav-item>
          <b-nav-item-dropdown href="#" text="Таможенные пункты">
            <b-dropdown-item>
              <router-link to="/customs">Все таможенные пункты</router-link>
            </b-dropdown-item>
            <b-dropdown-item>
              <router-link to="/customs/edit">Добавить</router-link>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <!-- Navbar dropdowns -->
          <!-- <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="User" right>
            <b-dropdown-item href="#">Account</b-dropdown-item>
            <b-dropdown-item href="#">Settings</b-dropdown-item>
          </b-nav-item-dropdown> -->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  name: "navbar"
};
</script>
